body {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 90vmin;
  height: 90vmin;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 2px;
  border: 1px solid #555;
}

.active {
  background-color: #555;
}
