body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}

svg {
  width: min(30rem, 95vmin);
  animation: rotate 20s linear infinite;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  .whole {
    border-color: white;
  }
}
