* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: greenyellow;
  background-color: #222;
  font-size: 20px;
  text-align: center;
  padding-inline: 10px;
  line-height: 1.5;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  font-size: 40px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 1px solid #555;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

textarea:focus {
  border-color: #666;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: #555;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 12px;
  border-radius: 4px;
}

button:hover,
button:focus-visible {
  background-color: #666;
}

#output {
  margin: 20px 0px;
  text-align: left;
}
