<footer>
	Made by <a
		href="https://www.github.com/moinjulian"
		target="_blank">MoinJulian</a
	> with <a href="https://astro.build/" target="_blank">Astro</a>
	and
	<a href="https://svelte.dev" target="_blank">Svelte</a>
</footer>