body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.whole,
.yang,
.yin {
  width: var(--size, 1rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

.whole {
  --size: min(30rem, 95vmin);
  border: 0.15rem solid black;
  background-image: linear-gradient(
    to right,
    white,
    white 50%,
    black 50%,
    black 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}

.yin,
.yang {
  --size: 50%;
  background-image: radial-gradient(
    closest-side,
    var(--inner) 0%,
    var(--inner) 25%,
    var(--outer) 25%,
    var(--outer) 100%
  );
}

.yang {
  --inner: black;
  --outer: white;
}

.yin {
  --inner: white;
  --outer: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  .whole {
    border-color: white;
  }
}
