body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.whole,
.yang,
.yin {
  width: var(--size, 1rem);
  aspect-ratio: 1;
  border-radius: 50;
}

.whole {
  --size: 12rem;
  border-radius: 50%;
  border: 0.15rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    white,
    white 50%
  );
}

.yin, .yang {
    --inner: white,
    --outer: black;
    width: 50%;

    background-image: radial-gradient(
        closest-side,
        var(--inner),
        var(--inner) 25%,
        var(--outer) 25%,
        var(--outer)
      );
}

.yang {
    --inner: black;
    --outer: white;
}

.yin {
    --inner: white;
    --outer: black;
}
