body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  @keyframes rotate {
    to {
      rotate: 1turn;
    }
  }
  